<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>YouDaoTranslate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>11478F4A-8B70-4B56-9040-F1065F0A2A32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95B452D6-29E1-4E48-914F-414EDCD93AE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13E02884-D520-4F7C-AD74-113765B523B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF911C81-95CB-4419-B88F-E52C89CF7A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4642DE29-89C2-4092-9354-29C6C66B0E65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2D76E0A-DE00-4A85-89AE-84E3EC5457D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>698BE733-C2E3-4C8B-955A-42EFCC09A4AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2D76E0A-DE00-4A85-89AE-84E3EC5457D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4425210-E445-4899-B2CE-8634CE000DC2</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>to BigCamelCase</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C322701-BD7B-49EA-978A-03C29EB3FF18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>698BE733-C2E3-4C8B-955A-42EFCC09A4AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95B452D6-29E1-4E48-914F-414EDCD93AE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13E02884-D520-4F7C-AD74-113765B523B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B48CADD7-9F7A-423D-8049-F6FDBB31B721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95B452D6-29E1-4E48-914F-414EDCD93AE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4425210-E445-4899-B2CE-8634CE000DC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4642DE29-89C2-4092-9354-29C6C66B0E65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>coppy</string>
	<key>description</key>
	<string>translate with YouDao</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouDao</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7C322701-BD7B-49EA-978A-03C29EB3FF18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>translate...</string>
				<key>script</key>
				<string>query=$@


echo `./jxaESM.js ./translate.js $query`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>translate {query}</string>
				<key>title</key>
				<string>You Dao Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>698BE733-C2E3-4C8B-955A-42EFCC09A4AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C2D76E0A-DE00-4A85-89AE-84E3EC5457D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B48CADD7-9F7A-423D-8049-F6FDBB31B721</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  return query
    .split(/\s+/)
    .map(x =&gt; x[0].toUpperCase() + x.slice(1))
    .join('')
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4425210-E445-4899-B2CE-8634CE000DC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>4642DE29-89C2-4092-9354-29C6C66B0E65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>13E02884-D520-4F7C-AD74-113765B523B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -i ocr.jpg
imgBase=`base64 ocr.jpg`
rm ocr.jpg

echo `./jxaESM.js ./ocr.js $imgBase`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95B452D6-29E1-4E48-914F-414EDCD93AE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EF911C81-95CB-4419-B88F-E52C89CF7A5D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string>translate select portion</string>
				<key>text</key>
				<string>Optical Character Recognition</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11478F4A-8B70-4B56-9040-F1065F0A2A32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11478F4A-8B70-4B56-9040-F1065F0A2A32</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>13E02884-D520-4F7C-AD74-113765B523B6</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>4642DE29-89C2-4092-9354-29C6C66B0E65</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>698BE733-C2E3-4C8B-955A-42EFCC09A4AC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7C322701-BD7B-49EA-978A-03C29EB3FF18</key>
		<dict>
			<key>note</key>
			<string>文本翻译 快捷键</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>95B452D6-29E1-4E48-914F-414EDCD93AE8</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>B48CADD7-9F7A-423D-8049-F6FDBB31B721</key>
		<dict>
			<key>note</key>
			<string>图片翻译 快捷键</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>C2D76E0A-DE00-4A85-89AE-84E3EC5457D6</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D4425210-E445-4899-B2CE-8634CE000DC2</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>EF911C81-95CB-4419-B88F-E52C89CF7A5D</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
